
/SoftUniBazar.Data/bin
/SoftUniBazar.Data/obj
/SoftUniBazar.IntegrationTests/bin
/SoftUniBazar.IntegrationTests/obj
/SoftUniBazar.Tests/bin
/SoftUniBazar.Tests/obj
/SoftUniBazar/bin
/SoftUniBazar/obj
.vs/SoftUniBazar/v17/DocumentLayout.json
.vs/SoftUniBazar/v17/.suo
.vs/SoftUniBazar/FileContentIndex/972b5a16-f5fc-406f-a687-417ecb0a87f9.vsidx
.vs/SoftUniBazar/v17/TestStore/0/testlog.manifest
.vs/ProjectEvaluation/softunibazar.metadata.v7.bin
.vs/ProjectEvaluation/softunibazar.projects.v7.bin
.vs/SoftUniBazar/v17/TestStore/0/000.testlog
.vs/SoftUniBazar/FileContentIndex/9f290766-c1a1-4cd3-a667-4685f783bd1a.vsidx
