.vs
SoftUniBazar.Data/bin/
SoftUniBazar.Data/obj/
SoftUniBazar.IntegrationTests/bin/
SoftUniBazar.IntegrationTests/obj/
SoftUniBazar.Tests/bin/
SoftUniBazar.Tests/obj/
SoftUniBazar/bin/
SoftUniBazar/obj/
