name: Develop branch build and unit test

on:
  push:
    branches: ['develop']

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      
      - name: Setup .Net version 6.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x
      
      - name: Restore dependencies
        run: dotnet restore
        
      - name: Build
        run: dotnet build --no-restore
    
  unit-test:

    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Setup .NET version 6.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x
        
      - name: Execute unit tests
        run: dotnet test SoftUniBazar.Tests/SoftUniBazar.Tests.csproj --no-build --verbosity normal
