name: Build and run Unit Tests

on:
  push:
    branches: [ "develop" ]
  workflow_dispatch:

jobs:
  build_unit_tests:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v4

    - name: Setup .NET version 6
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x

    - name: Clean Project
      run: dotnet clean

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Debug

    - name: Execute the Unit Tests
      run: dotnet test ${{ github.workspace }}/SoftUniBazar.Tests/SoftUniBazar.Tests.csproj --no-build --verbosity detailed --diag:log.txt

  
